<!-- Footer -->

<footer class="pt-4 pt-md-5 border-top">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md">
        <!-- <img class="mb-2" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="24" height="24"> -->
        <small class="d-block mb-3 text-muted">&copy; 2018. All right reserved.</small>
        <h5>Kuntal Karmakar</h5>
      </div>
      <div class="col-6 col-md">
        <h5>Get Social</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">GitHub</a></li>
          <li><a class="text-muted" href="#">LinkedIn</a></li>
          <li><a class="text-muted" href="#">Facebook</a></li>
          <li><a class="text-muted" href="#">Twitter</a></li>
          <li><a class="text-muted" href="#">Google</a></li>
          <li><a class="text-muted" href="#">Blog</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Resources</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Thought & ideas</a></li>
          <li><a class="text-muted" href="#">Work contribution</a></li>
          <li><a class="text-muted" href="#">Archive blog</a></li>
          <li><a class="text-muted" href="#">Future project</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Team</a></li>
          <li><a class="text-muted" href="#">Privacy</a></li>
          <li><a class="text-muted" href="#">Terms</a></li>
        </ul>
      </div>
    </div>
  </div>
  </footer>
