{% load static wagtailuserbar %}

<!DOCTYPE html>
<html class="no-js">
    {% block head %}
      {% include "includes/head.html" %}
    {% endblock head %}

    <body class="{% block body_class %}{% endblock %}">
      {% wagtailuserbar %}

      {% block main_navigation %}
          {# Header contains the main_navigation block #}
          {% include "includes/navbar.html" with parent=site_root calling_page=self %}
      {% endblock %}

        {% block content %}

        {% endblock %}

        {% include 'includes/newsletter.html' %}

        {% include 'includes/footer.html' %}

        {% include 'includes/js.html' %}

        {% block script %}
        {% endblock %}

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
